<div class="row" *ngIf="identity && identity.role == 'ROLE_ADMIN'">
	<div class="col-4">
		<h1>{{ titulo }}</h1>
		<div *ngIf="errorMessage">
			<div class="alert alert-info">
				{{ errorMessage }}
			</div>
		</div>
		<form #formAlbum="ngForm" (ngSubmit)="onSubmit()">
			<p>
				<label>Título:</label>
				<input #title="ngModel" name="title" [(ngModel)]="album.title" type="text" class="form-control" required />
				<span *ngIf="!title.valid && title.touched">
					El título es obligatorio
				</span>
			</p>
			<p>
				<label>Descripción:</label>
				<textarea #description="ngModel" name="description" [(ngModel)]="album.description" class="form-control"></textarea>
			</p>
			<p>
				<label>Año:</label>
				<input #year="ngModel" name="year" [(ngModel)]="album.year" type="number" class="form-control" required />
				<span *ngIf="!year.valid && year.touched">
					El año es obligatorio
				</span>
			</p>
			<div *ngIf="isEdit">
				<div class="albumImageEdit" *ngIf="album.image && album.image != 'null'">
					<img src="{{ url + 'get-image-album/' + album.image }}" />
				</div>
				<p>
					<label>Imagen del album:</label>
					<input type="file" placeholder="Subir imagen" (change)="fileChangeEvent($event)"/>
				</p>
			</div>
			<input type="submit" value="Guardar" class="btn btn-primary" [disabled]="!formAlbum.form.valid" />
		</form>
	</div>
</div>
<div class="row" *ngIf="!identity || identity.role != 'ROLE_ADMIN'">
	<h1>Error</h1>
	<p>No tienes acceso a esta área de la aplicación</p>
</div>