html, body {
	margin-left: 6px;
	height: 100%;
	background: #eee;
}

.headTitle {
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 25px;
	display: block;
}

.navigation a {
	color: #ddd;
	margin-top: 20px;
	margin-bottom: 16px;
	display: block;
	text-decoration: none;
}

.navigation a:hover {
	color: white;
}

.navigation .fa {
	display: block;
	width: 100%;
}

.navigation {
	text-align: center;
	color: white;
	background: #1C1C1F;
}

#user_loged {
	border-top: 1px solid #444;
}

#user_loged .userImage {
	background: #eee;
	border-radius: 100px;
	height: 57px;
	width: 57px;
	margin: 0px auto;
	overflow: hidden;
}

#user_loged .userImage img {
	width: 57px;
	height: 57px;
}

.fa-power-off {
	color: Tomato;
	cursor: pointer;
}

.artistImageEdit img, .albumImageEdit img {
	width: 150px;
}

/*.artistImage {
	height: 245px;
	overflow: hidden;
	width: 100%;
}

.artistImage img {
	height: 100%;
}*/
.cardImage {
	width: 100%;
    height: 32vw;
    object-fit: cover;
}

.cardImageAlbum {
    height: 100%;
    object-fit: cover;
}